{% extends "home.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Marcación de Asistencia</h1>
        <form method="POST" action="{{ url_for('marcacion') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.marcar_entrada(class="btn btn-success btn-lg btn-block") }}
            </div>
            <div class="form-group">
                {{ form.marcar_salida(class="btn btn-danger btn-lg btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}
